#### Counter

In [1]:
import itertools

In [4]:
counter = itertools.count(start=5, step=-2.5)
data = [1, 2, 3, 4]

# itertools.count goes forever, so use shorter iterable to end zip
print(list(zip(counter, data)))

# we can use itertools.zip_longest to cut off with longest iterable...

[(5, 1), (2.5, 2), (0.0, 3), (-2.5, 4)]

#### Cycle

In [6]:
cycle = itertools.cycle([1, 2, 3])
print([next(cycle) for _ in range(20)])

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2]

#### Combination

In [7]:
letters = ['a', 'b', 'c', 'd']
numbers = [0, 1, 2, 3]
names = ['Corey', 'Nicole']

In [9]:
# all combinations of two values
result = itertools.combinations(letters, 2)

for item in result:
    print(item)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')

In [11]:
# all permutations of two values
result = itertools.permutations(letters, 2)

for item in result:
    print(item)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'a')
('b', 'c')
('b', 'd')
('c', 'a')
('c', 'b')
('c', 'd')
('d', 'a')
('d', 'b')
('d', 'c')

With repeat

In [13]:
result = itertools.product(numbers, repeat=2)

for item in result:
    print(item)

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [17]:
# product can also do across lists

combos = list(itertools.product(letters, numbers, names))

for item in combos:
    print(item)

('a', 0, 'Corey')
('a', 0, 'Nicole')
('a', 1, 'Corey')
('a', 1, 'Nicole')
('a', 2, 'Corey')
('a', 2, 'Nicole')
('a', 3, 'Corey')
('a', 3, 'Nicole')
('b', 0, 'Corey')
('b', 0, 'Nicole')
('b', 1, 'Corey')
('b', 1, 'Nicole')
('b', 2, 'Corey')
('b', 2, 'Nicole')
('b', 3, 'Corey')
('b', 3, 'Nicole')
('c', 0, 'Corey')
('c', 0, 'Nicole')
('c', 1, 'Corey')
('c', 1, 'Nicole')
('c', 2, 'Corey')
('c', 2, 'Nicole')
('c', 3, 'Corey')
('c', 3, 'Nicole')
('d', 0, 'Corey')
('d', 0, 'Nicole')
('d', 1, 'Corey')
('d', 1, 'Nicole')
('d', 2, 'Corey')
('d', 2, 'Nicole')
('d', 3, 'Corey')
('d', 3, 'Nicole')

In [15]:
# combination with repeated value

result = itertools.combinations_with_replacement(numbers, 2)

for item in result:
    print(item)

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 1)
(1, 2)
(1, 3)
(2, 2)
(2, 3)
(3, 3)