Classes allow to logically group data (attributes) and functions (methods) in a way that is easy to use and easy to build upon if needed

In [ ]:
class Employee:
  # class variables
  num_emps = 0
  raise_amount = 1.04

  # self is instance
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = f'{first.lower()}.{last.lower()}@company.com'

    # here need to use class-level attribute, as instnace-level does not make sense
    Employee.num_emps += 1

  # create a method (not attribute)
  def fullname(self):
    print(f'{self.first} {self.last}')

  def apply_raise(self):
    # here use instance attribute
    # allow to use attribute specific for instance when available
    # use class-level attribute when instance-level does not exist
    self.pay = int(self.pay * self.raise_amount)

Class is a blueprint to create each instance

In [ ]:
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 60000)

In [ ]:
print(emp_1.email)
print(emp_2.email)

corey.schafer@company.com
test.user@company.com

In [ ]:
Employee.num_emps

2

In [ ]:
emp_1.fullname()

Corey Schafer

In [ ]:
print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52000

In [ ]:
# class level name space
print(Employee.__dict__)
print('raise_amount' in Employee.__dict__)

{'__module__': '__main__', 'num_emps': 2, 'raise_amount': 1.04, '__init__': <function Employee.__init__ at 0x7d43846de5c0>, 'fullname': <function Employee.fullname at 0x7d43846df880>, 'apply_raise': <function Employee.apply_raise at 0x7d43846dde40>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
True

In [ ]:
# instance name space
print(emp_1.__dict__)
print('raise_amount' in emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'pay': 52000, 'email': 'corey.schafer@company.com'}
False

In [ ]:
# update class variable
# doing this does NOT create instance-level attribute
Employee.raise_amount = 1.05

In [ ]:
# search instance-level attribute, if not found, will be redirected to class-level
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [ ]:
# instance name space
print(emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'pay': 52000, 'email': 'corey.schafer@company.com'}

In [ ]:
# update instance value of class variable
# doing this CREATE instance-level attribute
emp_1.raise_amount = 1.07

In [ ]:
# search instance-level attribute will not be redirected to class-level anymore
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.07
1.05

In [ ]:
# instance name space with newly added attribute
print(emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'pay': 52000, 'email': 'corey.schafer@company.com', 'raise_amount': 1.07}

In [ ]:
print(emp_2.__dict__)

{'first': 'Test', 'last': 'User', 'pay': 60000, 'email': 'test.user@company.com'}

Revert back to use class level attribute

In [ ]:
# To use class level attribute again, we need to remove instance level one
delattr(emp_1, "raise_amount")

In [ ]:
print(emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'pay': 52000, 'email': 'corey.schafer@company.com'}

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

#### set attributes

In [5]:
class Person():
  pass

person_1 = Person()

first_name = "Corey"
last_name = "Schafer"

# this is fine if we known attribute name
person_1.first = first_name
person_1.last = last_name
print(person_1.first)
print(person_1.last)

Corey
Schafer

In [8]:
# if we have to grab the attribute name also from other places

person_2 = Person()

info = {
  "first": "Corey",
  "last": "Schafer"
}

for key, value in info.items():
  setattr(person_2, key, value)

print(person_2.first)
print(person_2.last)
print()

# same for getattr
for key in info.keys():
  print(getattr(person_2, key))

Corey
Schafer

Corey
Schafer